#Análise de filmes de Hollywood 2023

In [41]:
import pandas as pd
import matplotlib.pyplot as plt

# Carrega o arquivo CSV em um DataFrame do pandas
arquivo_csv = r"c:/Users/carol/projeto_anadata_1000filmes/datasets/movies/Highest Holywood Grossing Movies.csv"
df = pd.read_csv(arquivo_csv)

# Visualiza as 5 primeiras linhas do DataFrame
df.head()

,Unnamed: 0,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13

#KPIs Básicos

In [46]:
# Foi necessário cria uma função para limpar valores inválidos que causavam erro na conversão de tipos
def limpar_valores(x):
    try:
        # Remover simbolo e vírgula
        x = str(x).replace('$', '').replace(',', '')
        #converte para float
        return float(x)
    except ValueError:
        return None
    
# Aplica a função de limpeza nas colunas 'Budget (in $)' e 'World Wide Sales (in $)'
df['Budget (in $)'] = df['Budget (in $)'].apply(limpar_valores)
df['World Wide Sales (in $)'] = df['World Wide Sales (in $)'].apply(limpar_valores)

In [47]:
# Cria a coluna de Lucro(profit): receita - orçamento
df['Profit'] = df['World Wide Sales (in $)'] - df['Budget (in $)']

# Cria a coluna de Retorno de Investimento (ROI - Return on Investment): lucro / orçamento
df['ROI'] = df['Profit'] / df['Budget (in $)']

In [48]:
# Formata os valores monetário em bilhões
df['Budget (in $Mi)'] = df['Budget (in $)'] / 1_000_000
df['World Wide Sales (in $Mi)'] = df['World Wide Sales (in $)'] / 1_000_000
df['Profit (in $Mi)'] = df['Profit'] / 1_000_000

In [49]:
df['ROI'] = df['Profit (in $Mi)'] / df['Budget (in $Mi)']
df[['Title', 'Budget (in $Mi)', 'World Wide Sales (in $Mi)', 'Profit (in $Mi)', 'ROI']].head()

,Title,Budget (in $Mi),World Wide Sales (in $Mi),Profit (in $Mi),ROI
0,Avatar,237.0,2923.706026,2686.706026,11.336312
1,Avengers: Endgame,356.0,2799.439100,2443.439100,6.863593
2,Avatar: The Way of Water,NaN,2320.250281,NaN,NaN
3,Titanic,200.0,2264.743305,2064.743305,10.323717
4,Star Wars: Episode VII - The Force Awakens,245.0,2071.310218,1826.310218,7.454327